<?xml version='1.0' encoding='utf-8'?>
    <widget id="com.microsoft.codepush.test" version="CODE_PUSH_PLUGIN_VERSION" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
        <name>CodePushTest</name>
        <description>
            A sample Apache Cordova application that is used for testing the CodePush plugin.
        </description>

        <!-- The contents of the main page can change between Code-Push updates, but not the name. -->
        <content src="index.html" />

        <plugin name="cordova-plugin-whitelist" version="1" />

        <!-- This sample application can communicate with any external domain.
         If you want to restrict this, don't forget to enable communication with the Code-Push server URL as well. -->
        <access origin="*" />

        <allow-intent href="http://*/*" />
        <allow-intent href="https://*/*" />
        <allow-intent href="tel:*" />
        <allow-intent href="sms:*" />
        <allow-intent href="mailto:*" />
        <allow-intent href="geo:*" />

        <platform name="android">
            <allow-intent href="market:*" />
            <!-- CodePush deployment key for the Android platform. -->
            <preference name="CodePushDeploymentKey" value="CODE_PUSH_ANDROID_DEPLOYMENT_KEY" />
        </platform>

        <platform name="ios">
            <allow-intent href="itms:*" />
            <allow-intent href="itms-apps:*" />
            <!-- CodePush deployment key for the iOS platform. -->
            <preference name="CodePushDeploymentKey" value="CODE_PUSH_IOS_DEPLOYMENT_KEY" />
        </platform>

        <!-- CodePush server URL. -->
        <preference name="CodePushServerURL" value="CODE_PUSH_SERVER_URL" />
    </widget>