<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="code-push" version="1.0.0-beta">
	<name>CodePushAcquisition</name>
	<description>Code Push Acquisition Plugin for Apache Cordova</description>
	<license>MIT</license>
	<keywords>cordova,code,push,acquisition</keywords>
	<repo>https://github.com/Microsoft/code-push.git</repo>
	<js-module src="script/acquisition-sdk.js" name="AcquisitionManager">
		<merges target="window" />
	</js-module>
</plugin>
